:root {
  --text-color-p-grey: rgb(89, 89, 89);
  --tour-bg-color: #f2e5d7;
}

.blog-sub-header {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.8)),
    url(blog/5\ thins\ to\ do.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.blog-sub-header h1 {
  margin-top: 100px;
  position: relative;
  color: #fff;
  font-size: 32px;
}

.murmur-sub-header {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.8)),
    url(blog/murmur.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.murmur-sub-header h1 {
  margin-top: 100px;
  color: #fff;
  font-size: 32px;
}

.group-or-alone-sub-header {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.8)),
    url(blog/ata-horse-child.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.group-or-alone-sub-header h1 {
  margin-top: 100px;
  color: #fff;
  font-size: 32px;
}

.blog-article {
  background-color: var(--tour-bg-color);
  padding-bottom: 50px;
  margin-top: -40px;
}

.blog-row {
  width: 50%;
  margin: auto;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.related-row-blog {
  display: flex;
  z-index: 20;
  justify-content: space-evenly;
  margin-top: 60px;
}

.blog-col-info div p {
  padding-bottom: 20px;
}

.blog-col-info a {
  text-decoration: none;
  color: #000;
}

.blog-col-info img {
  width: 100%;
}

.blog-col-info p {
  padding: 0;
  font-size: 14px;
}

.blog-col-info h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: 400;
  color: var(--text-color);
}

.blog-col-info p {
  color: var(--text-color-p-grey);
  margin-bottom: 10px;
}

.blog-info {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.mur-mur-blog-info {
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
}

.group-or-blog-info {
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
}

.blog-col h2 {
  margin-top: 40px;
}

.blog-col h3 {
  margin-top: 40px;
  color: var(--text-color-p-grey);
}

.blog-col p {
  margin-top: 10px;
  line-height: 40px;
  color: var(--text-color-p-grey);
}

@media (max-width: 700px) {
  .blog-row {
    width: 100%;
    margin: auto;
  }

  .blog-sub-header {
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  .murmur-sub-header {
    width: 100%;
    height: 50vh;

    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
  }

  .group-or-alone-sub-header {
    width: 100%;
    height: 50vh;

    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
  }

  .blog-sub-header,
  .murmur-sub-header,
  .group-or-alone-sub-header h1 {
    font-size: 24px;
  }

  .blog-info {
    margin-top: -300px;
  }

  .mur-mur-blog-info {
    margin-top: -300px;
  }

  .group-or-blog-info {
    margin-top: -300px;
  }

  .blog-sub-header h1 {
    margin-top: 100px;
    color: #fff;
    font-size: 24px;
  }

  .blog-article {
    padding-bottom: 0;
  }

  .related-row-blog {
    z-index: 20;
    flex-direction: column;
  }

  .blog-col-info {
    margin-top: 300px;
  }
}

@media only screen and (max-width: 550px) {
  .group-or-alone-sub-header h1 {
    margin-top: 150px;
    font-size: 20px;
  }

  .murmur-sub-header h1 {
    margin-top: 150px;
    font-size: 20px;
  }

  .blog-sub-header h1 {
    margin-top: 150px;
    font-size: 20px;
  }

  .mur-mur-blog-info {
    width: 100%;
  }
  .mur-mur-blog-info p {
    width: 70%;
    margin: auto;
    align-items: center;
    line-height: 27px;
  }

  .group-or-blog-info {
    width: 100%;
  }

  .blog-col-info {
    margin-top: 300px;
  }

  .blog-col-info h3 {
    width: 70%;
    margin: auto;
    padding-top: 20px;
  }

  .blog-col-info p {
    width: 70%;
    margin: auto;
    line-height: 27px;
  }
}
