.g-image-content {
  background-color: #f7edda;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 15px;
}

.g-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-card-img {
  object-fit: cover;
  max-width: 50px;
  max-height: 50px;
  padding-left: 10px;
  margin-right: 10px;
}

.g-links {
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}

.g-links p {
  display: flex;
  align-items: center;
  color: #1877f2;
}

.g-links a {
  align-items: center;
  height: 20px;
  padding-right: 5px;
}

.g-testimonial p {
  padding-top: 0px;
}

.testimonial-read-more {
  text-decoration: underline;
  color: #1877f2;
}

.g-links .fa {
  color: #1877f2;
}

.g-name {
  color: rgb(99, 99, 99);
  font-size: 14px;
}

.g-card-image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background-color: #f7edda;
}

.g-post-img {
  background-color: #f7edda;
}

.g-card-img {
  object-fit: cover;
  border-radius: 50%;
}

.g-card-content {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.g-card-content {
  height: 100px;
  align-items: start;
  padding-left: 20px;
}

.g-card-content {
  position: relative;
}

.read-now {
  position: absolute;
  padding-top: 150px;
}

.g-card-content h3 {
  color: #1a1a1a;
  padding-bottom: 15px;
  width: 100%;
}

.g-card-content p {
  color: #555;
  padding-top: 10px;
  padding-bottom: 15px;
}

.g-card-content a {
  color: #1a1a1a;
}

.read-now {
  font-weight: 500;
}

.fa-arrow-right {
  color: #1a1a1a;
}

.fa-arrow-right {
  font-size: 14px;
  font-weight: 100;
}

.g-post-img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  padding-top: 5px;
  border-radius: 2px;
}

.g-testimonial-description {
  font-size: 14px;
  color: var(--text-color-p-grey);
  text-align: left;
  margin-top: 0px;
}

.g-card {
  border-radius: 25px;
  background-color: #f7edda;
}

.g-card:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  background-color: #fece70;
}

.g-card:hover .g-image-content,
.g-card:hover .g-card-image,
.g-card:hover .g-post-img {
  background-color: #fece70;
}

.g-card.swiper-slide:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease-in-out;
}

@media only screen and (max-width: 550px) {
  .g-testimonial-description {
    width: 80%;
  }

  .g-post-img {
    width: 110%;
  }

  .g-card-content {
    margin-bottom: 30px;
  }
}

.all-blogs-button {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 300px;
}

@media (max-width: 768px) {
  .all-blogs-button {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 30px;
  }
}

.all-blogs-button button {
  margin: 0 auto;
  display: block;
}

.all-blogs-button .btn {
  background-color: #e5dfd6; /* Light orange */
  color: #1a1a1a; /* Your text color */
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.all-blogs-button .btn:hover {
  background-color: #ffb74d; /* Slightly darker light orange for hover */
}
